<nav  *ngIf="router.url !== '/login' && router.url !== '/' && router.url !== '/register'" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" (click)="redirectToHome()">VMeetups</a>
         <a  class="link navlink"(click)="redirectToHome()">Home </a> 
        <a class="link navlink" (click)="redirectToMeetupGroups()">Meetup Groups </a> 
       <a class="link navlink" (click)="redirectToHome()">Events  </a> 
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logout()"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
 

  