<div class="card">
    
    <div class="container">
        <div class="row">

          <div class="col-sm-8">
            <br><br>
            <div class="row">

              
              <table>
                  <tr>
                     <td>
                        Event Name:
                     </td> 

                     <td>
                        {{ eventResult.eventName }}
                    </td> 
                  </tr>

                  <tr>
                    <td>
                      Event Description:
                    </td> 

                    <td>
                       {{eventResult.eventDescription }}
                   </td> 
                 </tr>


                 <tr>
                    <td>
                        Event Date:
                    </td> 

                    <td>
                       {{eventResult.eventDate }}
                   </td> 
                 </tr>

                 <tr>
                    <td>
                        Event Time:
                    </td> 

                    <td>
                       {{eventResult.eventTime }}
                   </td> 
                 </tr>

               

              
              </table>

            </div>

       
        <br>
      
            
          </div>
          <div class="col-sm-2">
            <br>
            <br>

            <a (click)="goToURL()" >
            <button   class="btn btn-primary">
                  Join Event
            </button>
          </a>
        </div>
          <div class="col-sm-2">
            <br>
            <br>
          <button  *ngIf="enableDeleteEvent" (click)="deleteEvent()" class="btn btn-primary">
           Delete Event
      </button>
          </div>

       


        
      </div>
   </div> 
   <br>
   <br>
   <br>
   </div>
 