<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
             <div class="form-group">
                <label for="username">groupName</label>
                <input  [(ngModel)]="groupName" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">groupDescription</label>
                <textarea   [(ngModel)]="groupDescription" autocomplete="off">
  
            </div>
            <div class="form-group">
                <button (click)="onSubmit()" class="btn btn-primary">
                    
                    Create Group
                </button>
             </div>
     </div>
  </div>