<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
           <div class="form-group">
              <label for="username">Username</label>
              <input    [(ngModel)]="username" autocomplete="off">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input    [(ngModel)]="password" autocomplete="off">

          </div>
          <div class="form-group">
              <button (click)="onSubmit()" class="btn btn-primary">
                  
                  Login
              </button>
              <a routerLink="../register" class="btn btn-link">Register</a>
          </div>
          <span class="alert">{{message}}</span>
   </div>
</div>