<div class="card">
    
    <div class="container">
      <br>
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm">
              <div class="card">
                <div class="card-header card-header-info">
                  <h6 class="card-title ">All Events</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class='table table-hover'>
                    
                      <tbody>
                        <tr *ngFor="let row of userEventList">
                          <td> 
                            <a (click)="viewEvent(row)">
                              <span class="badge">  {{row.eventName }} </span> 
                            </a>
                           </td>
    
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>  </div>
          
<br>
            <div class="row">

              <div class="col-sm">
          
      
                    <!-- <h4>Your Events</h4> -->
                    <div class="card">
                      <div class="card-header card-header-info">
                        <h6 class="card-title ">Your Events</h6>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class='table table-hover'>
                            
                            <tbody>
                              <tr *ngFor="let row of userCreatedEventList">
                                <td> 
                                  <a (click)="viewEvent(row)">
                                    <span class="badge">  {{row.eventName }} </span> 
                                  </a>
                                 </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
      
              </div>
           
               
            </div>
          </div>
       
          <div class="col-sm-3">
            <div class="row">
              <div class="col">
              <div class="card">
                <div class="card-header card-header-info">
                  <h6 class="card-title ">Your Groups</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class='table table-hover'>
                     
                      <tbody>
                        <tr *ngFor="let row of userGroupList">
                         
                          <td> 
                            <a (click)="viewGroup(row)">
                              <span class="badge">  {{row.groupName }} </span> 
                            </a>
                           </td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>  </div>
                </div>
              </div>
            </div>   
      </div>   
      </div>
       <br>
     
     

      </div>
      <br>
   <br>
   <br>
   </div>