<div class="card">
    
    <div class="container">
        <div class="row">

          <div class="col-sm">
            <div class="row">
                <h4>All Events</h4>
            </div>

            
          </div>
      
           
        </div>


        <div class="row">

            <div class="col-sm">
        
  
              <div class="row">
                  <h4>Your Events</h4>
  
              </div>
            </div>
            <div class="col-sm">
              <h4>Your Groups</h4>
  
            </div>
             
          </div>
      </div>
   </div>